.App {
  text-align: center;
  background-color: white;
  height: 95vh;
  border-radius: 5px;
  flex: flex-grow;
  width: 75vw;
  margin: 0;
  flex-basis: 1;
}
.navLink {
  outline: none;
}

.container {
  padding: 20px;
}
