body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
}

select.form-control,
textarea.form-control,
input.form-control {
  font-size: 16px;
}
input[type="file"] {
  width: 100%;
}

.App {
  margin-top: 15px;
}

.App .navbar-brand {
  font-weight: bold;
}

.logo {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  color: rgb(85, 85, 85);
}
.logo:hover {
  text-decoration: none;
  color: rgb(85, 85, 85);
}

.nav {
  background-color: rgb(228, 228, 222);
  border-radius: 5px;
  border: 1px solid rgb(92, 91, 85);
}
